# qrencode -t ansiutf8 < wg-ipad.conf
[Interface]
PrivateKey = {{ vault.wireguard.ipad.private }}
Address = {{ wireguard.address.clients.ipad }}
DNS = {{ wireguard.address.home.router }}

[Peer]
PublicKey = {{ vault.wireguard.vps_server.public }}
Endpoint = {{ wireguard.endpoint.address }}:{{ wireguard.port }}
AllowedIPs = 0.0.0.0/0, {{ wireguard.subnet.wireguard }}
PersistentKeepalive = 45
